
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterStudent</title>
</head>
<body>
    <form action="submit" method="post">
        <div>
            Student RollNo: <input name="StudentRollno" type="text" /> <br />
            Student Name: <input name="StudentName" type="text" /> <br />
            Student Standard: <input name="StudentStd" type="text" /> <br />
            Student Division: <input name="StudentDIV" type="text" /> <br />
            <input id="submit" type="submit" value="submit" />
        </div>
    </form>
</body>
</html>
