@model MVCDemo.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>

        <div>
            Student RollNo: @Model.StudentRollNumber <br />
            Student Name:@Model.StudentName <br />
            Student Standard: @Model.StudentStd <br />
            Student Division: @Model.StudentDIV <br />


        </div>

</body>
</html>
